.articles-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly
  ;
}

@media screen and (max-width: 480px) {
  .articles-container {
    list-style-type: none;
    flex-direction: row;
  flex-wrap: wrap;
  }
}
